/*******General Styles*******/

body {
  margin-top: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 1.5em;
}

ul {
  padding: 0;
  list-style: none;
}


/*******Page Styles*******/

#home, #projects, #about, #contact {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  height:100vh;
}

.container {
  padding-top: 10%;
  max-width: 60%;
}

/*******Home*******/
#home {
  background-color: red;
}

#home .title-content {
  padding-top: 15%;
  max-width: 50%;
  margin: auto;
}

#home .title-content h1,h3 {
  text-align: center;
}

/*******Projects*******/
#projects {
  background-color: blue;
}

#projects img {
  border-radius: 50%;
  float: left;
  height: 15vh;
  margin-right: 10px;
}

/*******About*******/
#about {
  background-color: green;
}

/*******Contact*******/
#contact {
  background-color: pink;
}
