/*******General Styles*******/

body {
  background-color: #EDD3ED;
  color: #383838;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  margin-top: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h3 {
  font-family: 'Kaushan Script', cursive;
}

h1 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.5em;
}

hr {
  border: 1px solid #565C5E;
}

p {
  line-height: 1.5em;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  border-radius: 50%;
  height: 20vh;
}

.glyphicon {
  font-size: 3em;
}

/*******Page Styles*******/
#home, #projects, #about, #contact {
  min-height:100vh;
}

#home, #about {
  background-image: url("../img/floral-background.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding-top: 10vh;
  max-width: 80%;
}

/*******Home*******/
#home .title-content {
  padding-top: 33vh;
  max-width: 50%;
  margin: auto;
}

#home .title-content h1,h3 {
  text-align: center;
}

/*******Projects*******/
#projects img {
  float: left;
  margin-right: 10px;
}

#projects .container {
  padding-top: 30vh;
}

/*******About*******/
#about h3 {
  margin-top: 5vh;
}

#about h4 {
  margin-top:0;
}

#about .container {
  padding-top: 5vh;
  max-width: 90%;
}

/*******Contact*******/
#contact li {
  display: inline;
  padding-right: 10px;
}

#contact .container {
  padding-top: 33vh;
  text-align: center;
}
